@import "https://fonts.googleapis.com/css?family=Alef|Josefin+Sans|Audiowide|Share";

@font-face {
    font-family: Nasalization;
    src: local(Nasalization),  
        url(nasalization.ttf); 

}

.navbar-brand {
    color: #fff;
    font-size: 3vh; 
}

.navlink {
    font-family: 'Share', sans-serif;
    color: #eee;
}


.navbar {
    width: 100%;
    position: fixed;
    background-color: rgba(5,7,22,0.5); 
    height: 10%;
}

.navbar .locked {
	width: 100%;
    position: fixed;
}


.navbar a {
    float: center;
    text-align: center;
    text-decoration: none;
}



.navbar a:hover {
    background-color: rgba(245,245,245,0.1);
    color: white;
}

.logo {
    font-family: 'Nasalization', sans-serif;
    font-size: 10vw;
    color: #fff;
    position: relative;
    text-align: center;
    letter-spacing: 10px;
    top: 10%;
}


.backimg {
    position: absolute;
    background: url('img/plume.png');
    background-attachment: fixed;
    background-size: cover;
    z-index: -1; 
}

#about {
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10%;
}

#sponsors {
    text-align: left;
    padding-right: 10vw;
}

#contact {
    text-align: left;
    padding-right: 10vw;
}

p {
    font-family: 'Share';
    font-size: 3.2vh;
    position: relative;
    color:#fff;
}



